* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #dad1d1;
  color: #222;
}

h3 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  color: #fcfcfc;
  margin: 20px 0;
  text-align: justify;
  background-color: #501961;
  padding: 15px;
  border-left: 4px solid #0077cc;
  border-radius: 5px;
}

h4 {
  font-size: 42px;      
  font-family: 'Noto Sans', sans-serif;  
  color: #501961;       
  text-transform: uppercase; 
  margin-bottom: 30px;  
  text-align: center;   
}

.texto-lado {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin: 30px 0;
  gap: 60px;
}

.imagem-lado img {
  max-width: 600px; 
  height: auto;
  border-radius: 10px;
}

.texto-lado h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
  background-color: #501961;
  padding: 15px;
  border-left: 4px solid #0077cc;
  border-radius: 5px;
  flex: 1; 
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #753b9ce1;
  padding: 2px 30px;
}

.logo img {
  height: 100px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;       
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #c7a3ff;
}

.conteudo {
  max-width: 1100px;
  margin: 40px auto;
  text-align: center;
}

.conteudo h1 {
  font-size: 32px;
  color: #050505;
  margin-bottom: 10px;
  font-family: 'Stencil Std', 'fantasy';
}

.conteudo p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #040005;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  padding: 0 20px;
}

.card {
  background: #a684bde1;
  padding: 38px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
  border: 2px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
  border: 2px solid #c7a3ff;
}

.card h2 {
  color: #030303;
  margin-bottom: 10px;
}

.card p {
  color: #0a0a0a;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #501961;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #501961;
}

.pontuacao {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #c7a3ff;
  display: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.rodape {
  background: #0a0a0a;
  color: rgb(165, 60, 197);
  text-align: center;
  padding: 19px;
  margin-top: 168px;
  font-size: 14px;
}
