* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dad4e6ff, #b69dbbff); /* degrade fixo */
  color: #0f0f0fff;
}

.inicio-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1100px;
}

.texto-esquerda {
  width: 45%;
}

.texto-esquerda h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.texto-esquerda p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.inicio-container {
  width: 45%;
  background: rgba(55, 8, 65, 0.24);
  backdrop-filter: blur(8px);
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.logo {
  width: 250px;
}

.titulo {
  font-size: 1.8rem;
  margin: 10px 0 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
}

select, input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.senha-box {
  display: flex;
  align-items: center;
  position: relative;
}

.senha-box input {
  flex: 1;
  padding-right: 40px;
}

.olho {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #0f0f0fff;
}

.btn {
  background: #6a1b9a;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(106, 27, 154, 0.5);
}

.cadastro-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.95rem;
}

.cadastro-link a {
  color: #162475ff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .inicio-layout {
    flex-direction: column;
    gap: 30px;
  }

  .texto-esquerda, .inicio-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container, .quiz-box, .card, .conteudo {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    font-size: 1.3em;
    text-align: center;
  }

  button, .btn {
    width: 100%;
    font-size: 1em;
    padding: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.1em;
  }

  .quiz-box, .container {
    padding: 8px;
  }

  button {
    font-size: 0.9em;
  }
}
