* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #d1c4e9, #ede7f6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 115vh;
}

.cadastro-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
}

.logo-box {
  margin-bottom: 30px;
}

.logo-box img {
  width: 100px;
  margin-bottom: 15px;
}

.logo-box h1 {
  font-size: 32px;
  color: #4a148c;
}

form input, form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.senha-box {
  position: relative;
}

.mostrar-senha {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #7b1fa2;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #4a148c;
}

.link-voltar {
  margin-top: 15px;
  font-size: 14px;
}

.link-voltar a {
  color: #7b1fa2;
  text-decoration: none;
}

.link-voltar a:hover {
  text-decoration: underline;
}
