* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Optima", sans-serif;
}

body {
  background: linear-gradient(135deg, #0e0e0e, #050505);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 42px;
  font-family: 'Stencil Std', 'fantasy';
  color: #fcf9f9;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  width: 700px;
  text-align: center;
}

#identificacao {
  background: #711588c2;
  padding: 40px 50px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(250, 248, 248, 0.2);
  margin-bottom: 30px;
}

#identificacao label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}

#identificacao input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

#iniciar {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #3a0849;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

#iniciar:hover {
  background: #350750;
}

.quiz-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.card {
  background: #711588c2;
  padding: 50px 50px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(250, 248, 248, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.5s forwards;
  margin-bottom: 20px;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card h3 {
  margin-bottom: 25px;
  color: #ffffff;
}

.opcao {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  background: #0c0c0c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.opcao:hover {
  background: #0a0a0a;
  transform: scale(1.05);
}

.resultado {
  display: none;
  background: #ffffffa4;
  padding: 100px 80px;
  border-radius: 40px;
  box-shadow: 0 15px 20px rgba(0,0,0,0.25);
  font-size: 18px;
  color: #410b57;
}

button#reiniciar {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #3a0849;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

button#reiniciar:hover {
  background: #350750;
}
