* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Optima", sans-serif;
}

body {
  background: linear-gradient(135deg, #c5cae9, #e8eaf6);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  padding-top: 90px; 
}

h1 {
  font-size: 42px;
  font-family: 'Stencil Std', 'fantasy';
  color: #4a148c;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.dados-aluno {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 35px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-bottom: 30px;
  text-align: left;
  width: 600px;
  max-width: 90%;
}

.dados-aluno label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #1a237e;
}

.dados-aluno input {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #3f51b5;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.dados-aluno input:focus {
  border: 2px solid #39106e;
}

#iniciar {
  display: block;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #3a0849;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

#iniciar:hover {
  background: #350750;
}

.quiz-container {
  width: 600px;
  max-width: 90%;
  text-align: center;
  position: relative;
  margin: 0 auto; 
}

.card {
  background: #ffffff;
  padding: 50px 50px;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.5s forwards;
  margin-bottom: 20px;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card h3 {
  margin-bottom: 25px;
  color: #1a237e;
}

.opcao {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  background: #3f51b5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.opcao:hover {
  background: #1a237e;
  transform: scale(1.05);
}

.resultado {
  display: none;
  background: #ffffff;
  padding: 80px 60px;
  border-radius: 40px;
  box-shadow: 0 15px 18px rgba(0,0,0,0.15);
  font-size: 18px;
  color: #1a237e;
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

button#reiniciar {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #3f51b5;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

button#reiniciar:hover {
  background: #1a237e;
}
